<form class="example-form back">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ingresar usuario</mat-label>
      
      <input matInput placeholder="Insertar ID"  type="text" name="usuario" [(ngModel)]="usuario">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ingresar Contraseña</mat-label>
        <input [(ngModel)]="contrasena" matInput placeholder="Contrasena"  type="text" name="contrasena" >
 
      </mat-form-field>
  
    <button mat-button color="primary" (click)="iniciarsesion()">Iniciar sesion</button>
  </form>
  <div >
      <img src="https://i.pinimg.com/originals/48/be/86/48be861cef9815129ae2ee52baf94151.jpg" class="img_fondo" alt="">

  </div>